*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#logo{
    width: 10%;
    height: 4rem;
    margin-inline: 1rem;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 999;
}
#nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 4rem;
    margin-inline: 3rem;
}
#cart{
    height: 2rem;
    position: relative;
    bottom: 0.5rem;
}
#nav-list li{
    box-sizing: border-box;
    padding-block:1.5rem;
    padding-inline: 1.5rem;
    list-style: none;
    font-weight: 400;
    font-size: 1.2rem;
}

#nav-list li a{
    text-decoration: none;
    color: black;
    transition: 0.2s ease-in;
}
#nav-list li a:hover{
    color: #088178;
    border-bottom: 1px solid #088178;
    border-width: 30%;
}
.banner{
    background-image: url('img/banner/shopping-cart-banner.jpg');
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
     justify-content: center; 
}
#banner-l1{
    text-align: left;
    color: rgb(36, 36, 154);
    font-size: 4.2rem;
    display: inline;
    width: 100%;
    margin-left: 2rem;
}
#banner-l2{
    text-align: left;
    color: rgb(36, 36, 154);
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: lighter;
    display: inline;
    width: 100%;
    margin-left: 2rem;
}
table{
border-spacing: 2rem;
width: 100%;
text-align: center;
box-sizing: border-box;
text-transform: capitalize;

}
tr{
    height: 4rem;
}
th{
    font-size: 1.2rem;
}
td{
    font-size: 1rem;
    font-weight: lighter;
}
tr img{
    height: 4rem;
}
.main-2{
    width: 100%;
}
#table2{
    text-align: center;
    border-spacing: 0;
    width: 90%;
    margin-inline: 5%;
}
#table2 th{
    font-size: 1.5rem;
    text-transform: capitalize;
    border-bottom: 1px solid #c4d0c6;
}
#table2 td{
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: lighter;

}
#paybtn{
    width: 16%;
    margin-inline: 42%;
    margin-block: 1rem;
    height: 2rem;
    border:none;
    border-radius: 0.5rem;
    background-color: #088178;
    color: white;
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.2s ease-in;
    cursor: pointer;
}
#paybtn:hover{
    transform: scale(1.02);
}
.footer{
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-top: 2rem;
background-color: #c4d0c6;
}
.footer1{
    width: 25%;
    display: flex;
    flex-direction: column;
    }
.footer1 .contact{
    margin-block: 0.5rem;
}
.footer1 .followus{
    margin-block: 0.5rem;
}
.footer1 .followus h3{
    margin-block: 0.5rem;
}
.footer1 .contact h4:nth-child(1){
    margin-block: 0.5rem;
}
.footer1 img{
    height: 4rem;
    width: 50%;
}
.footer2{
    width: 12%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footer2 h3{
    margin-bottom: 1rem;
}
.footer2 ul{
list-style: none;
}
.footer2 li{
    margin-block: 0.3rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
}
.footer3{
    width: 12%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footer3 h3{
    margin-bottom: 1rem;
}
.footer3 ul{
list-style: none;
}
.footer3 li{
    margin-block: 0.3rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    cursor: pointer;
}
.footer4{
    width: 25%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.footer4 img{
    height: 4rem;
}
.footer4 h5{
    text-transform: capitalize;
    margin-block: 0.5rem;
}
.footer4 h3{
    margin-bottom: 1rem;
}
.hamburger{
    width: 8%;
    height: 2rem;
    display: none;
    margin-block: 1rem;
    margin-inline: 1rem;
    box-sizing: border-box;
}
.bar{
    display: block;
    width: 100%;
    height: 0.4rem;
    background-color: black;
    margin-block: 0.133rem;
}
.cart2{
    width: 6%;
    height: 2rem;
    margin-block: 1rem;
    margin-inline: 1rem;
    display: none;
}
.cart2 img{
    width: 100%;
    height: 100%;
}
@media (min-width:481px) and (max-width:768px) {
    #nav-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30%;
        align-content: center;
        position: absolute;
        right: 0;
        top: 4rem;
        background-color: #c4d0c6;
        color: black;
        height: 36vh;
        z-index: 999;
        margin-inline: 0;
        transition: 0.5s ease-in;
    }
    #nav-list li{
    font-size: 1rem;
    }
    #cart{
        display: none;
    }
    .hamburger{
        display: block;
    }
    table{
        border-spacing: 1rem;
    }
    #paybtn{
        width: 36%;
        margin-inline: 32%;
        height: 3rem;
    }
    .footer{
        height: 80vh;
    }
    .footer1 {
        width: 50%;
    }
    .footer2 {
        width: 30%;
    }
    .footer3 {
        width: 30%;
    }
    .footer4 {
        width: 50%;
    }
    .cart2{
        display: block;
    }
}
@media (min-width:320px) and (max-width:481px){
    #nav-list{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 30%;
        align-content: center;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: #c4d0c6;
        color: black;
        height: 36vh;
        z-index: 999;
        margin-inline: 0;
    }
    #nav-list li{
font-size: 1rem;

    }
    #cart{
        display: none;
    }
    .hamburger{
    display: block;
}
.banner{
    height: 25vh;
    margin-block: 0rem;
}
#banner-l1{
    font-size: 1.5rem;
}
.footer{
    height: 80vh;
}
.footer1 {
    width: 50%;
}
.footer2 {
    width: 30%;
}
.footer3 {
    width: 30%;
}
.footer4 {
    width: 50%;
}
table{
    border-spacing: 0rem;
}
table th{
    font-size: 0.8rem;
}
table td{
    font-size: 0.5rem;
}
#paybtn{
    width: 36%;
    margin-inline: 32%;
    height: 3rem;
}
#table2 th{
    font-size: 1rem;
}
#table2 td{
    font-size: 0.75rem;
}
.cart2{
    display: block;
}
}